:root {
    --maroon: #800000;
    --bg-light: #f9f9f9;
    --border-gray: #e0e0e0;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: var(--bg-gray);
}


.dashboard-wrapper { display: flex; min-height: 100vh; }

/* SIDEBAR */
.sidebar { width: 260px; background-color: var(--maroon); color: white; flex-shrink: 0; }
.logo-box { padding: 30px; text-align: center; }
.logo-box img { width: 80px; }
.side-nav a { display: block; padding: 15px 25px; color: white; text-decoration: none; font-size: 13px; font-weight: bold; }
.side-nav a.active { background-color: white; color: var(--maroon); }

/* MAIN CONTENT */
.main-content { flex-grow: 1; background-color: white; }
.header-nav { display: flex; justify-content: space-between; padding: 20px 40px; border-bottom: 1px solid var(--border-gray); }
.nav-left a { margin-right: 30px; text-decoration: none; color: var(--maroon); font-weight: bold; }
.content-padding { padding: 30px 40px; }

/* ===============================
   STATS
================================ */
.stats {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.stat-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.stat-card h1 {
  margin: 10px 0;
}

/* ===============================
   CALENDAR
================================ */
.calendar-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calendar-day {
  padding: 15px;
  text-align: center;
  background: #eee;
  border-radius: 8px;
}

.calendar-day.unavailable {
  background: var(--pup-red);
  color: white;
}

.calendar-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.calendar-contorols button {
  background: #8b0000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.calendar-contorols button:hover {
  background: #a00000;
}

.btn-edit-cal { 
  background-color: var(--maroon); 
  color: white; 
  border: none; 
  padding: 8px 20px; 
  border-radius: 8px; 
  cursor: pointer; 
}