<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Privacy Policy | PUP Motor Pool</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/legal-pages.css') }}" />
</head>

<body>

    <div class="page-container">
        <a href="{{ url_for('user_home') }}" class="back-btn">
            Back to Home
        </a>
        <div class="top-header">
            <h1>Privacy Policy</h1>
            <p>PUP Motor Pool Management System</p>
        </div>

        <div class="legal-card">

            <p>
                The PUP Motor Pool Management System respects and protects
                the privacy of all users. Personal information collected
                through this system shall only be used for transportation
                request processing, trip ticket management, and official
                university operations.
            </p>

            <p>
                User information will not be shared with unauthorized
                individuals or external organizations unless required
                by university policy or applicable laws.
            </p>

            <p>
                By using this system, users agree to the collection and
                processing of necessary information for operational purposes.
            </p>

        </div>


    </div>

</body>

</html>