<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Terms and Conditions | PUP Motor Pool</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/legal-pages.css') }}" />
</head>

<body>

    <div class="page-container">
        <a href="{{ url_for('user_home') }}" class="back-btn">
            Back to Home
        </a>
        <div class="top-header">
            <h1>Terms and Conditions</h1>
            <p>PUP Motor Pool Management System</p>
        </div>

        <div class="legal-card">

            <p>
                Users of the Motor Pool Management System are expected
                to provide accurate and truthful transportation request
                information at all times.
            </p>

            <p>
                Unauthorized access, misuse of university transportation
                services, or submission of false requests may result in
                disciplinary action in accordance with university policies.
            </p>

            <p>
                The university reserves the right to approve, reject,
                or cancel transportation requests when necessary.
            </p>

            <p>
                Continued use of the system signifies acceptance of
                these terms and conditions.
            </p>

        </div>
    </div>

</body>

</html>