<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>User Guide | PUP Motor Pool</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/support-pages.css') }}" />
</head>

<body>

  <div class="page-container">
    <a href="{{ url_for('user_home') }}" class="back-btn">
      Back to Home
    </a>
    <div class="top-header">
      <h1>User Guide / Manual</h1>
      <p>PUP Motor Pool Management System</p>
    </div>

    <div class="guide-section">

      <div class="guide-card">
        <h2>Step 1: Log In</h2>

        <p>
          Use your registered university email and password
          to access the Motor Pool Management System.
        </p>
      </div>

      <div class="guide-card">
        <h2>Step 2: Submit Request</h2>

        <p>
          Open the New Request page and complete the
          transportation request form with complete
          trip details.
        </p>
      </div>

      <div class="guide-card">
        <h2>Step 3: Wait for Approval</h2>

        <p>
          Your request will be reviewed by authorized
          Motor Pool personnel.
        </p>
      </div>

      <div class="guide-card">
        <h2>Step 4: View Requests</h2>

        <p>
          Monitor your request status through the
          My Request page.
        </p>
      </div>

      <div class="guide-card">
        <h2>Step 5: Access Trip Tickets</h2>

        <p>
          Approved trip tickets can be downloaded
          from the Trip Tickets page.
        </p>
      </div>

    </div>


  </div>

</body>

</html>